<h2>Send a Message</h2>
<form id="compose-message" name="newPost">
	<fieldset>
		<label class="checkbox">
			<input id="toggle-allusers" class="input-block-level" type="checkbox"<%= message.isForAllUsers() ? 'checked' : '' %>> Send to all users
		</label>
		<div class="or-separator row-fluid">
			<div class="span5"></div>
			<span class="span2">OR</span>
			<div class="span5"></div>
		</div>
		<label for="send-to">Add a recipient:</label>
		<input id="send-to" name="send-to" class="input-block-level" type="text" data-provide="typeahead" <%= message.isForAllUsers() ? 'disabled' : '' %>>
		<ul id="recipients-list">
			<% message.get('to').each( function (user) { %> 
				<% if (!user.isSpecialUser()) { %> 
				<li class="btn btn-info" id="<%= user.get('username') %>">
					<span><%= user.get('username') %></span>
					<button type="button" class="close pull-right" >&times;</button>
				</li>
				<% } %>
			<% }); %>
		</ul>
	</fieldset>

	<fieldset>
		<label class="checkbox">
			<input type="checkbox" id="toggle-alllocs" <%= message.isForAllLocs() ? 'checked' : '' %> > Send to all locations
		</label>
		<div class="or-separator row-fluid">
			<div class="span5"></div>
			<span class="span2">OR</span>
			<div class="span5"></div>
		</div>
		<label for="loc">Select a location:</label>
		<input id="triggerLocs" name="triggerLocs" class="input-block-level" type="text" <%= message.isForAllLocs() ? 'disabled' : '' %>>
		<!-- <select id="loc" name="loc" class="input-block-level"<%= message.isForAllLocs() ? 'disabled' : '' %>>
			<option>--Select a location--</a>
			<% locations.each( function (loc) { %> 
				<option><%= loc.get('screenid') %></a>
			<% }); %>
		</select> -->
		<ul id="triggerlocs-list">
			<% message.get('triggerLocs').each( function (loc) { %> 
				<% if (!loc.isNoneLoc()) { %> 
				<li class="btn btn-info" id="<%= loc.id %>">
					<span><%= loc.id %></span>
					<button type="button" class="close pull-right" >&times;</button>
				</li>
				<% } %>
			<% }); %>
		</ul>
	</fieldset>


	<label for="subject">Message Subject:</label>
	<input id="subject" class="input-block-level" name="subject" type="text" value="<%= message.get('subject') %>">

	<label for="msg-body">Message Body:</label>
	<textarea id="msg-body" class="input-block-level" name="body" type="textarea" rows="4" cols="50" ><%= message.get('body') %></textarea>

	<button id="resetform" class="btn pull-left">Reset Form</button>
	<button type="submit" class="btn btn-primary pull-right">Send Message!</button>
	<div class="clearfix"></div>
</form>
